.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "roboto", sans-serif;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.shadow-sm {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.text-sm {
  font-size: 0.875rem;
}
