.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "roboto", sans-serif;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.shadow-sm {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.08);
  }
}

.text-sm {
  font-size: 0.875rem;
}
