// Variables

// Bootstrap variable overrides
$form-feedback-icon-valid-color: rgb(83, 177, 83);
$form-feedback-icon-invalid-color: rgb(214, 85, 85);

$body-bg: #f5f6f7;
// $enable-rounded: false;

$font-family-sans-serif: "Roboto", sans-serif;
$headings-font-family: "Montserrat", sans-serif;

// Icons
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' stroke-width='2' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-valid-color}' viewBox='0 0 24 24'><path d='M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3'/></svg>");
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' stroke-width='2' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}' viewBox='0 0 24 24'><path d='M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17'/></svg>");

$theme-colors: ();

$spacer: 1rem;
$spacers: (
  6: (
    $spacer * 4,
  ),
  7: (
    $spacer * 5,
  ),
  8: (
    $spacer * 6,
  ),
  9: (
    $spacer * 7,
  ),
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
